# ==================================
# === Konfiguracja dla Frontendu ===
# ==================================
VITE_API_BASE_URL=http://localhost:3001/api


# =================================
# === Konfiguracja dla Backendu ===
# =================================

# Baza danych MySQL
DB_HOST=twoj_host_bazy_danych
DB_USER=twoj_uzytkownik_bazy_danych
DB_PASSWORD=twoje_haslo_do_bazy_danych
DB_NAME=nazwa_twojej_bazy_danych
DB_PORT=3306
DB_DIALECT=mysql

# Konfiguracja serwera
PORT=3001
FRONTEND_URL=http://localhost:5173
LOG_LEVEL=info

# Klucze JWT (użyj silnych, losowych ciągów znaków)
JWT_SECRET=twoj_super_tajny_klucz_jwt
JWT_REFRESH_SECRET=twoj_inny_super_tajny_klucz_odswiezajacy

# Konfiguracja AWS S3
AWS_REGION=twoj_region_aws
AWS_ACCESS_KEY_ID=twoj_klucz_dostepu_aws
AWS_SECRET_ACCESS_KEY=twoj_sekretny_klucz_dostepu_aws
AWS_S3_BUCKET_NAME=nazwa_twojego_bucket_s3
