
# Server
HOST=0.0.0.0
PORT=1337

# Secrets
APP_KEYS= #PUSTE
API_TOKEN_SALT= #PUSTE
ADMIN_JWT_SECRET= #PUSTE
TRANSFER_TOKEN_SALT= #PUSTE
ENCRYPTION_KEY= #PUSTE

# Database
DATABASE_CLIENT= #PUSTE
DATABASE_HOST= #PUSTE
DATABASE_PORT= #PUSTE
DATABASE_NAME= #PUSTE
DATABASE_USERNAME= #PUSTE
DATABASE_PASSWORD= #PUSTE
DATABASE_SSL=false
DATABASE_FILENAME=
JWT_SECRET= #WYGENEROWANY PRZY PIERWSZYM URUCHOMIENIU STRAPI
